/* Navbar.css */

/* Increase the height of the navbar */
.navbar {
    height: 80px; /* Adjust the height as per your requirement */
  }
  
  /* Vertically center the nav items */
  .navbar-nav {
    height: 100%;
    align-items: center;
  }
  
  /* Add padding to the nav items for spacing */
  .nav-item {
    padding: 0 10px;
  }
  
  /* Optional: Adjust font size for nav items */
  .nav-link {
    font-size: 18px;
  }
  
  /* Optional: Add margin to the right for the "Sign In" button */
  .btn-primary {
    margin-right: 10px;
  }

  nav button a {
    color: #ffffff;
    text-decoration: none;
  }

  nav button a:hover {
    color: #ffffff;
  }
  